@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;400;700&display=swap');

.App {
  text-align: center;
  background-image: url('http://localhost:3000/background_1.png' );
  background-size: cover;
  font-family: 'BioRhyme', serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-container {
  background-color: rgba(40, 44, 52, 0.42);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: grid;
  gap: 15px;
  color: #FCCD04;
}

.score {
  display: flex;
  justify-content: space-between;
}

.competitor-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #FFE400;
}

.hero-section {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: left;
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
  gap: 5px;
}

.pc-section {
  display: grid;
  justify-content: right;
  margin-right: 20px;
  margin-top: 10px;
  gap: 5px;
}

.hero-section--name {
  padding-left: 10px;
}

.pc-section--name {
  padding-right: 10px;
}

.radio {
  display: none;
}

.symbols {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.symbol-container {
  height: 175px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.chosenSymbol {
  height: 100px;
  border-radius: 50%;
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }

  &:active {
    transition: height 0.2s;
    height: 130px;
  }
}

.character-image--cropper {
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;

  box-shadow:
          0 0 4px 2px #e3e3e3,
          0 0 5px 3px rgba(255, 215, 0, 1),
          0 0 7px 4px rgb(6, 131, 110);
}

.chosen-character-image {
  display: inline;
  margin: 0 auto;
  height: 155%;
  position: absolute;
  top: -10%;
  right: -40%;
  width: auto;
}

.pc-image {
  display: inline;
  margin: 0 auto;
  height: 120%;
  position: absolute;
  top: -7%;
  right: -93%;
  width: auto;
}
